body {
    background-color: black;
}
h1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
a:link {
    text-align: center;
    display: block;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    margin-top: 15px;
}
img {
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 600px;
}